.horizontal-list{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.band{
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: .25rem;
}

ul{
    margin-right: 5px;
}