.horizontal-list{
    white-space: nowrap;
    width: 90%;
    list-style: none;
    overflow-x: auto;
    overflow-y: hidden;
}

.band{
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: .25rem;
}

ul{
    display: inline-block;
    zoom: 1;
    padding-right: 2.5px;
}